.bolder {
    font-weight: bold;
  }
  h1,h2 {
    font-size: 200%;
    text-align: center;
    color: red;
  }

  li {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
  }
 