.bolder {
    font-weight: bold;
  }
  h1 {
    font-size: 450%;
    text-align: center;
  }

  .gratuitous {
    font-size: 120%;
    font-style: italic;
  }

  li {
    font-family: georgia, sans-serif;
    font-size: 170%;
    text-align: center;
  }
  .timePublish {
    font-size: 140%;
  }